/* Smaller Screen */
@media screen and (max-width: 1024px)  {

	html { font-size: 20px; border:solid purple 2px;}


/* ======== Global Header  ======== */
	.global-header-logo {align-self:center;}

	.global-header-menu-items {  }

	.mobile-visible { display:block; }
	

/* ======== Banner  ======== */

/* ======== Intro Section  ======== */

/* ======== How it Works  ======== */

/* ======== About Section  ======== */

/* ======== In Season Section  ======== */


}

/* Mobile Screen */
@media screen and (max-width: 600px)  {

	html { font-size: 18px; }

/* ======== Global Header  ======== */

/* ======== Banner  ======== */

/* ======== Intro Section  ======== */

/* ======== How it Works  ======== */

/* ======== About Section  ======== */

/* ======== In Season Section  ======== */


}